/** General imports **/
@import 'common';
@import 'colors';
@import 'layout';
@import 'typography';
@import 'button';

/** Import views **/
@import '../Views/start-page.less';

/** Import Components **/
@import '../Components/Counter/counter.less';
@import '../Components/Navigation/navigation.less';

/** General styling **/
* { 
	box-sizing: border-box;
}

body {
	margin: 0px;
	text-align: left;
	font-family: Helvetica;
	font-weight: normal;
	color: @black;
	font-size: 100%;
}

figure {
	margin: 0px;
	padding: 0px;
}

img {
	width: 100%;
}
